<html ng-app>
    <head>
        <title>Analise Risco</title>
         <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <script type="text/javascript" src="js/function.js"></script>
        <script type="text/javascript" src="js/valida.js"></script>
        <script type="text/javascript" src="js/riscos.js"></script>
    
    </head>
    
    <body>
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> 
            <h2>Analise Risco</h2>
            
            <div class = "input">
                <label>Nome Cliente: </label>
                <input type="text" ng-model="nomeCliente" id="nomeCliente" required>
            </div>
            
            <div class = "input">
                <label>Limite de Credito: </label>
                <input type="number" ng-model="limiteCredito" id="limiteCredito" required>
            </div>
            
            <div ng-controller="ListaRiscos" class = "list">
            
                <label>Risco:</label>
    			<select  ng-model="risco" required id="risco">
    				<option  ng-repeat="risco in riscos" value="{{risco.descricao}}">{{risco.descricao}}</option>
    			</select>
    		</div>
			
			</br>
			<div ng-model="analiseResultado" class = "result">
				<label id="nomeClienteResult"></label>
				<label id="limiteCreditoResult"></label>
				<label id="riscoResult"></label>
			</div>
			
            <button type="submit" onclick="analisar()" class="btn btn-primary" ng-disabled="userForm.$invalid">Enviar</button>
        </form>
    </body>
</html>